.footerContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #202020;
}

.scrollButton {
    position: absolute;
    bottom: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    aspect-ratio: 1/1;
    border: 1px #202020;
    border-radius: 50%;
    background-color: #202020;
    transition: all 0.3s ease-in-out;
    /* cursor: pointer; */
}

.scrollButton:hover {
    transform: translateY(-10%);
}

.scrollButton span {
    font-size: 2em;
    position: absolute;
    top: 20%;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.textContainer {
    font-size: 2em;
    font-weight: bold;
    color: azure;
    font-style: italic;
    padding: 1.5%;
}

.copyright {
    font-size: 1em;
    position: absolute;
    color: rgb(255, 255, 255, 0.5);
    bottom: 1%;
}

@media (max-width: 800px) {
    .scrollButton span {
        font-size: 0.1em;
    }
    .textContainer {
        font-size: 1em;
    }
}